@page
@model UserLogin.Pages.CreateModel

<h2>Регистрация</h2>
<form method="post">
    <p>
        <label>Почта</label><br />
        <input name="email" />
    </p>
    <input type="submit" value="Продолжить" />
</form>
